.topbar {
  height: 42px;
  line-height: 42px;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
/* 添加背景盒子 */
.bg {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 1200px;
  background: linear-gradient(
    189.16deg,
    rgb(57, 15, 199) 13.57%,
    rgb(40, 35, 77) 98.38%
  );
}

/* 两个小球的动画 */
.ball1 {
  width: 500px;
  height: 500px;
  background-color: pink;
  position: absolute;
  top: 250px;
  left: 200px;
  background: linear-gradient(
    rgba(186, 117, 255, 0.49) 26.56%,
    rgb(57, 19, 184) 100%
  );
  animation: move 30s infinite alternate;
}

.ball2 {
  width: 500px;
  height: 500px;
  background-color: pink;
  position: absolute;
  top: 250px;
  left: 200px;
  background: linear-gradient(
    rgba(47, 184, 255, 0.42) 31.77%,
    rgb(158, 236, 217) 100%
  );
  animation: move 25s infinite alternate;
}

@keyframes move {
  0% {
    transform: translate(-200px, 0px) rotate(-90deg);
    border-radius: 51% 49% 58% 42% / 34% 78% 22% 66%;
  }

  100% {
    transform: translate(400px, 100px) rotate(-120deg);
    border-radius: 22% 78% 73% 27% / 67% 31% 69% 33%;
  }
}
/* 头部盒子制作 */
.w {
  max-width: 1234px;
  margin: 0 auto;
  padding: 0 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.header .logo img {
  width: 44px;
  height: 44px;
  margin: 0;
}
.nav {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 26px;
}
.nav a button {
  display: flex;
  padding: 10px 20px;
  background: none;
  border: 0;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.nav a button:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(31, 47, 71, 0.25) 0px 20px 40px,
    rgba (0, 0, 0, 0.1) 0px 1px 5px,
    rgba(255, 255, 255, 0.4) 0px 0px 0px 0.5px inset;
}
.nav a button img {
  width: 24px;
  height: 24px;
}
.nav a button p {
  font-size: 15px;
  color: #fff;
  margin-left: 10px;
}
.mobile-nav {
  /* 隐藏盒子 */
  display: none;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(15, 14, 71, 0.3);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 0.5px inset;
  backdrop-filter: blur(40px);
  border-radius: 50%;
}
/* 导航栏的1响应式效果 */
@media (max-width: 1024px) {
  .nav {
    grid-template-columns: repeat(6, auto);
  }
  .nav a:nth-child(4) {
    display: none;
  }
}
@media (max-width: 900px) {
  .nav {
    grid-template-columns: repeat(5, auto);
  }
  .nav a:nth-child(3) {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav {
    grid-template-columns: repeat(4, auto);
  }
  .nav a:nth-child(2) {
    display: none;
  }
}
@media (max-width: 550px) {
  .nav {
    display: none;
  }
  .header {
    padding-top: 20px;
  }
  .mobile-nav {
    display: flex;
  }
}
/* 课程模块 */
.course {
  display: grid;
  grid-template-columns: 380px auto;
  align-items: end;
  gap: 80px;
  margin-top: 60px;
}
.course-l {
  color: #fff;
}
.course-l .time {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.7);
}
.course-l h2 {
  font-size: 40px;
  line-height: 48px;
  margin: 20px 0;
}
.course-l .content {
  font-size: 17px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}
.course-r {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.course-r ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
}
.course-r ul li {
  list-style: none;
}
.course-r ul li img {
  width: 44px;
  height: 44px;
}
.course-r .search {
  position: relative;
}
.course-r .search input {
  border: 0;
  outline: 0;
  width: 204px;
  height: 44px;
  padding: 10px 42px;
  border-radius: 30px;
  background: linear-gradient(
    rgba(99, 106, 150, 0.8) 0%,
    rgba(182, 186, 214, 0.6) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px,
    rgba(255, 255, 255, 0.3) 0px 0px 0px 0.5px inset;
  color: #fff;
}
.course-r .search img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
}
/* focus（焦点）接收来自键盘的输入状态，产生高亮 */
.course-r .search input:focus {
  box-shadow: rgba(47, 184, 255, 0.3) 0px 10px 40px,
    rgb(47, 184, 255) 0px 0px 0px 1px inset;
  background: linear-gradient(
    rgba(24, 32, 79, 0.4) 0%,
    rgba(24, 32, 79, 0.25) 100%
  );
}
@media (max-width: 1280px) {
  .course {
    /* 各占一列 */
    grid-template-columns: 1fr;
  }
  .course .course-l {
    /* 限制最大宽度 */
    max-width: 380px;
  }
}
@media (max-width: 1024px) {
  .course .course-l {
    /* 限制最大宽度 */
    max-width: 380px;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .course-r {
    display: grid;
    gap: 20px;
    /* 子盒子水平居中 */
    justify-content: center;
    /* 盒子里的内容水平居中 */
    justify-items: center;
  }
}
/* 课程卡片模块 */
.course-card {
  display: grid;
  /* 元素自动填充，最小宽度240px，最大宽度占一份 */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 40px;
  /* 设置最大宽度 */
  max-width: 1254px;
  margin: 40px auto 0px;
  padding: 0px 40px;
}
.course-card .item {
  height: 360px;
  background-color: skyblue;
  border-radius: 20px;
  padding: 20px;
  background: linear-gradient(
    209.21deg,
    rgb(73, 79, 254) 13.57%,
    rgb(15, 19, 36) 98.38%
  );
  cursor: pointer;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.course-card .item:hover {
  transform: scale(1.1);
  box-shadow: rgba(15, 19, 36, 0.3) 0px 20px 40px,
    rgba(0, 0, 0, 0.05) 0px 1px 3px;
}
.course-card .item:hover figure > img {
  transform: scale(0.9);
}
.course-card .item figure {
  position: relative;
  height: 150px;
  text-align: center;
}

.course-card .item figure .icon1,
.course-card .item figure .icon2 {
  position: absolute;
  right: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}
.course-card .item figure .icon1 {
  top: 0;
}
.course-card .item figure .icon2 {
  top: 42px;
}
.course-card .item figure > img {
  width: 200px;
  height: 150px;
  /* 图片自适应，始终显示中间部分 */
  object-fit: cover;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.course-card .item h3 {
  color: #fff;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  height: 100px;
  /* 多行显示省略号 */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.course-card .item p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.course-card .star {
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.course-card .item4 {
  background: linear-gradient(
    209.21deg,
    rgb(242, 136, 133) 13.57%,
    rgb(233, 79, 102) 98.38%
  );
}
@media (max-width: 768px) {
  .course-card {
    gap: 20px;
    padding: 0 20px;
  }
}
/* 故事卡片 */
.story-card {
  position: relative;
  z-index: 999;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 100px;
}
.story-card .story-l {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.story-card .top {
  display: grid;
  grid-template-columns: 42px auto;
  gap: 20px;
}

.story-card .top .name {
  font-weight: 500;
  font-size: 20px;
}

.story-card .middle {
  height: 240px;
  background: rgb(165, 206, 255);
  border-radius: 20px;
  margin: 20px 0;
  text-align: center;
}

.story-card .middle img {
  max-height: 240px;
}

.story-card .desc {
  font-size: 13px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.7);
}

.story-card button {
  background: linear-gradient(
    rgba(24, 32, 79, 0.4) 0%,
    rgba(24, 32, 79, 0.4) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px,
    rgba(0, 0, 0, 0.2) 0px 0px 0px 0.5px inset;
  border-radius: 30px;
  text-transform: uppercase;
  border: 0;
  margin-top: 20px;
  font-size: 13px;
  color: #fff;
  padding: 8px 15px;
}

.story-l-left .top .info {
  font-style: 13px;
}

.story-l-left .top img {
  border-radius: 50%;
}
.story-card .story-r-top,
.story-card .story-r-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: start;
}
.story-r .pic {
  height: 240px;
  background: rgb(0, 0, 0);
  border-radius: 20px;
  overflow: hidden;
}

.story-r .pic img {
  max-height: 240px;
}

.story-r {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* 先隐藏 */
.story-r .toggle {
  display: none;
}

.story-l > div,
.story-r > div {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0.5px inset;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 20px;
}
@media (max-width: 1250px) {
  /* 把story-card分为一列 */
  .story-card {
    grid-template-columns: 1fr;
    max-width: 768px;
  }
}
@media (max-width: 680px) {
  .story-card .story-l {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }
  .story-card .story-r .toggle {
    /* 改成grid布局，显示出来 */
    display: grid;
  }
  .story-card .story-r .info .top {
    /* 隐藏.top */
    display: none;
  }
  .story-card .story-r-top,
  .story-card .story-r-bottom {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }
}
/* 底部模块 */
.footer {
  position: relative;
  width: 100%;
  height: 800px;
  background: rgb(30, 19, 87);
  margin-top: 100px;
  /* 利用svg裁剪盒子 */
  /* clip-path: url(#wave2); */
}
/* <!-- con盒子裁剪波浪盒子 --> */
.footer .con {
  overflow: hidden;
  position: absolute;
  top: -300px;
  left: 0;
  width: 100%;
  /* background-color: pink; */
}
.bolang {
  position: absolute;
  left: 0;
  top: 150px;
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(19, 12, 62, 0.8) 0%, rgb(30, 19, 87) 28%);
  /* 利用svg裁剪盒子 */
  clip-path: url(#wave2);
}
.footer svg {
  width: 100%;
}
/* 如果超过1400像素，波浪放大 1.5倍 */
@media (min-width: 1400px) {
  .bolang {
    transform: scale(1.5);
  }
}
.footer-con {
  position: absolute;
  top: 200px;
  left: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  transform: translate(-50%, -50%);
  width: 660px;
  padding: 0 20px;
}
@media (max-width: 600px) {
  .footer-con {
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 400px;
  }
}

.footer-con-left {
  display: grid;
  grid-template-columns: 144px 144px;
  gap: 20px;
}

.footer-con-left .item {
  display: grid;
  grid-template-rows: repeat(5, 44px);
  row-gap: 20px;
}

.footer-con-left .item button {
  display: flex;
  width: 144px;
  height: 44px;
  /* justify-content: center; */
  align-items: center;
  border-radius: 10px;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding-left: 10px;
  transition: all 0.3s ease-in-out;
}

.footer-con-left .item button:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: rgba(31, 47, 71, 0.25) 0px 20px 40px,
    rgba(0, 0, 0, 0.1) 0px 1px 5px,
    rgba(255, 255, 255, 0.4) 0px 0px 0px 0.5px inset;
}

.footer-con-left .item a {
  text-decoration: none;
  color: #fff;
}

.footer-con-left .item a p {
  color: #fff;
}

.footer-con-left .item button img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footer-con-right {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  padding-top: 60px;
}

.footer-con-right p:nth-child(3) {
  margin: 20px 0;
  font-weight: 500;
}

.footer-con-right p:nth-child(2) {
  margin-top: 20px;
}
