<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h3>小黑水果店</h3>
      <ul>
        <li v-for="(item,index) in list">{{ item }} - {{ index }}</li>
        <!-- item 数组的每一项数据 index下标 -->
      </ul>
      <ul>
        <li v-for="item in list">{{ item }}</li>
      </ul>
    </div>
    <!-- 
  Vue指令v-for
  1.作用： 基于数据循环， 多次渲染整个元素  > 数组、对象、数字.
  遍历数组语法：
  v-for = "(item, index) in 数组"
  item每一项，index下标
  省略 index: v-for = "item in 数组”
-->
    <script src="./vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          list: ["西瓜", "苹果", "鸭梨"],
        },
      });
    </script>
  </body>
</html>
