<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {
        width: 200px;
        height: 100px;
        line-height: 100px;
        margin: 10px;
        border: 3px solid #000;
        text-align: center;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #ccc;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div v-show="flag" class="box">我是v-show控制的盒子</div>
      <div v-if="flag" class="box">我是v-if控制的盒子</div>
    </div>
    <!-- 
    v-show底层原理：切换css的display:none来控制显示隐藏
    v-if底层原理：根据判断条件控制元素的创建和 移除（条件渲染）
    v-show="flag"  v-if="flag" 
    表达式值true显示，false隐藏
    -->
    <script src="../vue.js"></script>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          flag: false,
        },
      });
    </script>
  </body>
</html>
