/* 定义全局变量 */
:root {
  --main-blue: #01a1ff;
}
.profile {
  display: flex;
  justify-content: space-between;
  padding-right: 18px;
  border-bottom: 1px solid #d3d3d3;
  overflow: hidden;
  margin-bottom: 30px !important;
  align-items: end;
}
.profile .left {
  display: flex;
  align-items: end;
}
.profile .left h1 {
  padding: 8px 10px;
  font-size: 28px;
  color: #333333;
  border-left: 3px solid #01a1ff;
}
.profile .left h6 {
  color: #666666;
  padding-bottom: 10px;
  font-size: 14px;
}
.profile .right p {
  display: flex;
  justify-content: end;
  gap: 15px;
}
.profile .right a {
  padding: 5px 0;
  border-bottom: 1px solid transparent;
}
.profile .right a:hover {
  color: var(--main-blue) !important;
  border-color: #01a1ff;
}
article {
  font-size: 14px;
  color: #666666;
}
article img {
  float: left;
  margin-right: 32px;
}
article p {
  text-indent: 2em;
  line-height: 24px;
  margin-bottom: 30px;
}
