@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1755339159130') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e62b";
}

.icon-zuojiantou:before {
  content: "\e6e1";
}

.icon-tishi:before {
  content: "\e605";
}

.icon-ico2:before {
  content: "\e51a";
}

